.DS_Store
.history/
.pio/
.vscode/
**/ipch/
**/.browse.c_cpp.db*

lib/
include/
test/

**/*.lck
**/*.kicad_prl
**/*.kicad_pcb-bak
**/*.kicad_sch-bak
**/fp-info-cache
**/DRC*.rpt
**/FlowState-backups/

Gerber/*
!Gerber/*.zip
